
@theme{
    --text-*: initial;

    --text-h1: 3.5rem;
    --text-h2: 3rem;
    --text-h3: 2.5rem;
    --text-h4: 2rem;
    --text-h5: 1.5rem;
    --text-h6: 1.25rem;
    --text-body: 1rem;
    --text-sm: 0.813rem;
    --text-xs: 0.625rem;


    --text-h1--line-height: 1.25;
    --text-h2--line-height: 1.25;
    --text-h3--line-height: 1.25;
    --text-h4--line-height: 1.25;
    --text-h5--line-height: 1.5;
    --text-h6--line-height: 1.5;
    --text-body--line-height: 1.5;
    --text-sm--line-height: 1.5;
    --text-xs--line-height: 1.5;
}

@font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi-Variable.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    font-size: var(--text-body);
    line-height: var(--text-body--line-height);
    font-family: "SF Pro Display", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell","Helvetica Neue", "Arial", sans-serif;
    font-family: "Satoshi", sans-serif;
}

h1 { @apply text-h1; }
h2 { @apply text-h2; }
h3 { @apply text-h3; }
h4 { @apply text-h4; }
h5 { @apply text-h5; }
h6 { @apply text-h6; }
