---
import BaseLayout from "../../layout/BaseLayout.astro"
import {getCollection} from "astro:content";
const courses = await getCollection("courses");
---

<BaseLayout>
    <main class="p-4">
        <ul>
            {courses.map(course =>
                <a href=`courses/${course.id}`>
                    <h5>{course.data.title}</h5>
                </a>
            )}
        </ul>
    </main>
</BaseLayout>